@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap');

*,
*::before,
*::after{
	padding: 0;
	margin: 0;
    box-sizing: border-box;
}

:root{
    --main-font: 'Rowdies', cursive;
    --secondary-font: 'Caveat', cursive;
    --extra-font: 'Merienda', cursive;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: rgb(19, 19, 19);
    border: none;
}

::-webkit-scrollbar-thumb{
    background: #f59b0a;
    /* border-radius: 5px; */
}


a{
    text-decoration: none;
    color: rgb(245, 155, 10);   
}

li{
    list-style: none;
    color: rgb(245, 155, 10);
}

.container{
    width: 100%;
    height: 100%;
    padding: 0 2.4rem;
    margin: 0 auto;
}

header{
    position: fixed;
    height: 7rem;
    width: 100%;
    /* background: rgb(14, 14, 14); */
    background: rgb(0, 0, 0, .5);
    z-index: 1000;
}

nav{
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu-toggle{
    position: absolute;
    transform: translate(-50%), -50%;
    right: 2.5rem;
    font-size: 2.5rem;
    cursor: pointer;
    z-index: 150;
    transition: .3s ease-in;
    color: rgb(245, 155, 10);
}


.menu-close{
    position: absolute;
    top: 1.8rem;
    left: 2.4rem;
    font-size: 3rem;
    color: white;
    cursor: pointer;   
}

.nav-list{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50vw;
    background: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
    transform: translateX(100%);
    z-index: 200;
    text-align: center;
    color: rgb(245, 155, 10);
}

.nav-link{
    font-family: var(--main-font);
    font-size: 1.7rem;
    text-transform: uppercase;
    color: rgb(245, 155, 10);
}



/* .nav-shopping-cart{
    position: fixed;
    height: 60px;
    width: 60px;
    z-index: 199;
    right: 0;
    color: rgb(245, 155, 10);
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    margin: 2rem;
    cursor: pointer;
} */


.open-nav .nav-list{
    transform: translateX(0%);
}

.open-nav .menu-toggle{
    opacity: 0;
}

.logo{
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    transform: translateY(-50%);
    margin-left: 4.5em;
    width: 9rem;
    color: #ffffff;
    cursor: pointer;
}

.first-word,
.second-word{
    font-size: 2.5rem;
    font-family: var(--main-font);
    letter-spacing: 0;
    text-transform: uppercase;
    color: rgb(245, 155, 10);
}

.second-word{
    font-size: 2rem;
}

.second-word-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.line{
    position: relative;
    width: 100%;
    height: 2px;
    background: rgb(245, 155, 10);
}

.main-section{
    background: url(./assets/bg-main-section2.jpg) center/cover no-repeat fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section-logo{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 0px 5px #1d1c1c, 0px 0px 10px #000000;
}

.main-second-word{
    font-size: 3rem;
    font-family: var(--main-font);
    /* color: rgb(245, 155, 10); */
    text-transform: uppercase;
}

.main-first-word{
    font-size: 4rem;
    font-family: var(--extra-font);
    text-transform: uppercase;
    color: rgb(245, 155, 10);
}

.call-action-box{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
}


.call-action-1,
.call-action-2{
    margin: 1.5rem;
    font-family: var(--main-font);
    font-size: 1.5rem;
    background: rgb(245, 155, 10);
    padding: 1rem;
    transition: .5s ease-in-out;
    color: #fff;
    text-shadow: 0px 0px 3px #000000;
    text-transform: uppercase;
    backdrop-filter: blur(10%);
}

.call-action-1 a{
    color: #fff;
}

.call-action-1:hover,
.call-action-2:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px #1d1c1c, 0px 0px 10px #000000;
}

.book-now-box{
    position: fixed;
    height: 100vh;
    width: 100%;
    background: rgb(14, 14, 14, .5);
    display: none;
    justify-content: center;
    align-items: center ;
    z-index: 10001;
    display: none;
}

.book-now{
    position: fixed;
    height: 80%;
    width: 80%;
    background: rgb(14, 14, 14, .8);
    display: inline-block;
}


.book-close{
    position: absolute;
    right: 0;
    color: rgb(245, 155, 10);
    margin: 1rem 1.5rem;
    font-size: 3rem;
    cursor: pointer;
}

.booking-title-wrapper{
    height: 20%;
    width: 100%;
    display: grid;
    place-content: center;
}

.booking-title{
    font-family: var(--main-font);
    text-transform: uppercase;
    font-size: 3rem;
    color: rgb(245, 155, 10);
    display: grid;
    place-items: end center;
}

.booking-form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.form-wrapper{
    /* background: pink; */
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}

.date-picker-wrapper{
    padding: 0;
}

.people-select-box{
    z-index: 301;
}
.date-select-box{
    z-index: 300;
}

.form-box{
    margin: 0;
}

.form-select{
    height: 30px;
    width: 150px;
    padding: 0 1rem;
    margin-top: 2rem;
    background: #ffffff;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

/* .date-select{
    justify-content: center;
} */

.form-default-pick{
    font-size: 1.5rem;
}

.form-icon{
    height: 100%;
    width: 20%;
    position: absolute;
    font-size: 1.5rem;
    right: 0;
    top: 0;
    color: rgb(245, 155, 10);
    display: grid;
    place-items: center;
    background: rgb(245, 245, 245);
    border-radius: 5px;
}

.people-option-list{
    background: white;
    width: 150px;
    padding: .5rem 0;
    font-size: 1.5rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-y: scroll;
    max-height: 0;  
    opacity: 0;
    transition: ease-in-out .5s;
}

.people-option-list.active{
    max-height: 170px;
    opacity: 1;
}


.people-option-list li,
.time-picker-list li{
    color: black;
    padding: 1rem 1rem;
    cursor: pointer;
}

.people-option-list li:hover,
.date-picker-list li:hover,
.time-picker-list li:hover{
    background: rgb(245, 155, 10);
}

.date-picker-list li{
    color: black;
    cursor: pointer;
}

.date-picker-list{
    background: white;
    width: 150px;
    padding: .5rem 0;
    font-size: 1.5rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-height: 0;  
    opacity: 0;
    transition: ease-in-out .5s;
    overflow: hidden;
}

.date-picker-list.active{
    max-height: 180px;
    opacity: 1;
}

.date-day{
    display: inline-block;
    width: 20%;
    text-align: center;
    padding: 2px;
}

.month-navigator{
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.month-prev,
.month-next{
    font-weight: 900;
    cursor: pointer;
}



.time-picker-list{
    background: white;
    width: 150px;
    padding: .5rem 0;
    font-size: 1.5rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-y: scroll;
    max-height: 0;
    opacity: 0;
    transition: ease-in-out .5s;
}

.time-picker-list.active{
    max-height: 170px;
    opacity: 1;
}

.send-book{
    display: grid;
    place-items: center;
    font-family: var(--main-font);
    text-transform: uppercase;
    color: #ffffff;
    background: rgb(245, 155, 10);;
    height: 40%;
    width: 150px;
    cursor: pointer;
}



/* servings */ /* servings */ /* servings */ /* servings */ /* servings */ /* servings */ /* servings */ /* servings */ /* servings */ 

.servings{
    width: 100%;    
    /* background: url(./assets/bg-main-section4.jpg) center/cover no-repeat fixed; */
    background: rgb(19, 19, 19);
    text-align: center;
    padding: 5rem 0 10rem 0;
}

.servings-title-box{
    width: 100%;
    height: auto;
    font-family: var(--main-font);
    font-size: 3rem;
    text-align: center;
    padding: 2rem 0;
    line-height: 150%;
    text-transform: uppercase;
    color: rgb(245, 155, 10);
}

.servings-menu{ 
    width: 100%;
}


.serving{
    display: inline-block;
    margin: 8rem 4rem;
    text-transform: uppercase;
    text-align: center;
    font-family: var(--main-font);
    font-size: 1.5rem;
    color: #ffffff;
}

.serving h1{
    position: relative;
    margin-top: 1em;
    /* text-shadow: 0 0 1px #fff, 0 0 3px #ffd311; */
}


.serving-1,
.serving-2,
.serving-3,
.serving-4{
    display: inline-block;
}


.serving-item-1,
.serving-item-2,
.serving-item-3,
.serving-item-4{
    height: 250px;
    width: 250px;
    overflow: hidden;
}

.serving-item-1 img,
.serving-item-3 img,
.serving-item-2 img{
    height: 100%;
    width: auto;
    transition: 500ms;
}

.serving-item-4 img{
    height: 120%;
    width: 100%;
    transition: 500ms;
}

.serving-item-1 img:hover,
.serving-item-2 img:hover,
.serving-item-3 img:hover,
.serving-item-4 img:hover{
    transform: scale(1.2);
    transition: 500ms;
}

/* Gallery */ /* Gallery */ /* Gallery */ /* Gallery */ /* Gallery */ /* Gallery */ /* Gallery */ /* Gallery */ /* Gallery */ /* Gallery */ 

.menu-gallery{
    display: grid;
    grid-template-columns: 100%;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.menu-gallery .gal-item{
    display: inline-block;
    width: 100%;
    overflow: hidden;
}

.menu-gallery .gal-item img{
    width: 100%;
    transition: 500ms;
}

.menu-gallery .div-2 img{
    display: none;
}

.menu-gallery .gal-item img:hover{
    transform: scale(1.2);
}



/* About us */ /* About us */ /* About us */ /* About us */ /* About us */ /* About us */ /* About us */ /* About us */ /* About us */ 


.about-us{
    position: relative;
    height: 70vh;
    display: flex;
    align-items: center;
    padding: 0 40% 0 5%;
    text-align: left;
    overflow: hidden;
}

.about-us p{
    font-size: 2em;
    font-family: var(--extra-font);
}

#owner{
    float: right;
    margin: .5em .6em 0 0;
}

.about-us img{
    position: absolute;
    height: 100%;
    right: -20%;
    bottom: -30%;
}


/* contact-us */ /* contact-us */ /* contact-us */ /* contact-us */ /* contact-us */ /* contact-us */ /* contact-us */ /* contact-us */ 


.contact-us{
    width: 100%;
    background: rgb(19, 19, 19);
    padding: 3rem 0;
}

.contact-us .container{
    text-align: center;
    margin: 0;
    padding: 0;
}

.contact-us-logo{
    display: inline-block;
    height: 200px;
    width: 320px;
    padding: 0 10em;
}

.contact-details{
    display: inline-block;
    height: 320px;
    width: 320px;
    font-size: 1.5rem;
    word-spacing: .1rem;
    color: #ffffff;
    font-family: var(--extra-font);
    text-align: center;
    /* border-left: #ffff .5px solid; */
    /* border-right: #ffff .5px solid; */
}

.social-media{
    display: inline-block;
    height: 320px;
    width: 320px;
    font-size: 1.5rem;
    word-spacing: .2rem;
    color: #ffffff;
    font-family: var(--extra-font);
    text-align: center;
    
}

.contact{
    margin: 4rem auto;
}

.contact-us .container .contact-us-logo-inner{
    margin: 5rem auto;
    color: #ffffff;
    text-align: center;
}



/* footer */ /* footer */ /* footer */ /* footer */ /* footer */ /* footer */ /* footer */ /* footer */ /* footer */ /* footer */ 


#footer{
	font-size: 12px;
	padding: 0;
    text-align: center;
    font-family: var(--main-font);
    background: rgb(14, 14, 14);
    color: #ffffff;
    font-size: 1.5rem;
    padding: 2rem 0;
}


/* Menu page main section */

.menu-main-section{
    background: url(./assets/menu-main-section.jpg) bottom/cover no-repeat fixed;
    width: 100%;
    height: 65vh;
    display: grid;
    place-items: center;
    text-shadow:  5px 5px 15px #000000;
}

.menu-title{
    font-size: 5rem;
    font-family: var(--main-font);
    text-align: center;
    color: rgb(245, 155, 10);
    text-transform: uppercase;
}


.menu-box{
    position: relative;
    height: 50vh;
    width: 100%;
    background: #ffffff;
}

.menu-box h1{
    height: 100%;
    width: 100%;
    font-size: 4rem;
    font-family: var(--main-font);
    text-transform: uppercase;
    color: #ffffff;
    display: grid;
    place-items: center;
    background: rgb(34, 34, 34, .5);
}   

.beef-menu{
    background: url(./assets/products/menu/menu-beef.jpg) center/cover no-repeat;
}

.pork-menu{
    background: url(./assets/products/menu/menu-pork.jpg) center/cover no-repeat;
}

.chicken-menu{
    background: url(./assets/products/menu/menu-chicken.jpg) center/cover no-repeat;
}

.fish-menu{
    background: url(./assets/products/menu/menu-fish.jpg) center/cover no-repeat;
}

.vegetable-menu{
    background: url(./assets/products/menu/menu-vegetables.jpg) center/cover no-repeat;
}

.dessert-menu{
    background: url(./assets/products/menu/menu-dessert.jpg) center/cover no-repeat;
}


.menu-container{
    display: none;
}

.menu-container.active{
    display: inline-block;
    position: fixed;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background: rgb(19, 19, 19, .8);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    animation: slide1;
    animation-duration: .5s;
    color: #fff;
    transition: .5s;
}


@keyframes slide1{
    from{
        opacity: 0;
        height: 0;
    }to{
        opacity: 1;
        height: 100vh;
    }
}

.inner-menu-container{
    margin: 0;
    padding-top: 10rem;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    overflow-y: scroll;
}

.menu-item{
    margin: 1rem;
    display: inline-block;
    font-family: var(--main-font);
    text-transform: uppercase;
    width: 300px;
    color: #fff;
}

.food-img{
    height: 100%;
    width: 100%;
}

.food-img img{
    width: 100%;
}

.food-name{
    font-size: initial;
    float: left;
    margin: 1rem;
}

.food-price{
    font-size: initial;
    float: right;
    margin: 1rem;
}

.food-addCart{
    float: left;
    padding: 2rem 0;
    width: 100%;
    text-align: center;
    background: rgb(245, 155, 10);
    color: #000000;
    font-size: initial;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
}

.food-addCart:hover{
    cursor: pointer;
    color: #fff;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
}

.menu-close-1{
    position: absolute;
    right: 0;
    top: 0;
    color: rgb(245, 155, 10);
    margin: 2rem 2.5rem;
    font-size: 3rem;
    cursor: pointer;
}



/* Meadia query */ /* Meadia query */ /* Meadia query */ /* Meadia query */ /* Meadia query */ /* Meadia query */ /* Meadia query */



@media (min-width: 769px){

    header .container{
        padding: 0;
    }

    nav{
        justify-content: initial;
    }
    
    .nav-list{
        position: absolute;
        right: 0;
        height: 100%;
        /* width: 80%; if contact link is included*/
        width: 20%; 
        flex-direction: row;
        background: initial;
        padding: 0;
        transform: initial;
        justify-content: space-around;
        align-items: center;
        color: rgb(245, 155, 10);
        background: none;
    }
    
    .list-item{
        position: relative;
    }

    .nav-link{
        color: rgb(245, 155, 10);
        transform-origin: center;
        transition: ease-in-out 1s;
    }
    
    .nav-link::before{
        width: 0;
        background: orange;
        content: '';
        position: absolute;
        left: 50%;
        border-bottom: 2px solid #f59b0a;
        top: calc(100%);
        transform-origin: bottom left;
        transform: scaleX(-1);
        transition: ease-in-out .3s;
    }

    .active-item{
        border-bottom: 3px solid #f59b0a;
    }

    .nav-link::after{
        width: 0;
        background: orange;
        content: '';
        position: absolute;
        left: 50%;
        border-bottom: 2px solid #f59b0a;
        transition: ease-in-out .3s;
        top: 100%;
    }

    .nav-link:hover::before,
    .nav-link:hover::after{
        width: 50%;
    }

    .menu-close{
        display: none;
    }
    
    .menu-toggle{
        display: none;
    }

    .main-first-word{
        font-size: 5rem;
    }

    .menu-gallery{
        height: 100vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }


    .menu-gallery .gal-item{
        height: 100%;
        width: auto;
    }

    .menu-gallery .gal-item img{
        height: 100%;
        width: auto;
        transition: 500ms;
        display: inline-block;
    }

    .menu-gallery .div-2v2{
        display: none;
    }

    .menu-gallery .div-2{
        grid-row: span 2;
    }


    .about-us{
        position: relative;
        display: flex;
        align-items: center;
        height: 70vh;
        padding-right: 50%;
    }
    
    .about-us p{
        position: relative;
        font-size: 2.5em;
        z-index: 1;
    }

    
    .about-us img{
        position: absolute;
        height: 100%;
        right: 10%;
        bottom: 0;
    }

    .contact-us .container{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .top-menu-box-2{
        background: url(./assets/bg-main-section5.jpg) center/cover no-repeat fixed;
        padding: 5rem;
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    .menu-box h1{
        opacity: 0;
        transition: ease-in-out .5s;
        cursor: pointer;
    }

    .menu-box h1:hover{
        opacity: 1;
    }

    .menu-title{
        font-size: 8rem;
    }

    .book-now-box{
        position: fixed;
        height: 100vh;
        width: 100%;
        background: rgb(14, 14, 14, .5);
        /* display: flex; */
        display: none;
        justify-content: center;
        align-items: center ;
        z-index: 300;
    }
    
    .book-now{
        position: fixed;
        height: 70%;
        width: 80%;
        background: rgb(14, 14, 14, .8);
    }

    .booking-title-wrapper{
        height: 100%;
        width: 100%;
        grid-column: span 3;
    }

    .form-wrapper{
        height: 100%;
        width: 100%;
    }

    .booking-form{
        display: grid;
        grid-template-rows: repeat(3, 33.33%);
        grid-template-columns: repeat(3, 33.33%);
    }
    
    .book-close{
        position: absolute;
        right: 0;
        color: rgb(245, 155, 10);
        margin: 1rem 1.5rem;
        font-size: 3rem;
        cursor: pointer;
    }

    .form-select{
        height: 40px;
        width: 200px;
        margin-top: 25%;
    }
    
    .people-default-option{
        font-size: 1.5rem;
    }
    
    .people-icon{
        font-size: 2rem;
    }
    
    .people-option-list,
    .date-picker-list,
    .time-picker-list{
        width: 200px;
    }

    .send-book-box{
        height: 100%;
        width: 300%;
    }

    .send-book{
        height: 40px;
        width: 200px;
        grid-column: span 3;
    }

    .inner-menu-container{
        grid-template-columns: 1fr 1fr 1fr;
    }

}


@media (min-width: 640px) and (max-width: 960px) {
    .inner-menu-container{
        grid-template-columns: 1fr 1fr;
    }
 }