@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap');

*,
*::before,
*::after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root{
    --main-font: 'Rowdies', cursive;
    --secondary-font: 'Caveat', cursive;
    --extra-font: 'Merienda', cursive;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}


a{
    text-decoration: none;
}

li{
    list-style: none;
}

.container{
    width: 100%;
    height: 100%;
    padding: 0 2.4rem;
    margin: 0 auto;
}

header{
    position: fixed;
    height: 7rem;
    width: 100%;
    background: linear-gradient(to bottom, rgb(0, 0, 0, .4), transparent);
    z-index: 1000;
}

nav{
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-toggle{
    position: absolute;
    transform: translate(-50%), -50%;
    right: 2.5rem;
    font-size: 2.5rem;
    cursor: pointer;
    z-index: 150;
    transition: .3s ease-in;
    color: rgb(245, 155, 10);
}


.menu-close{
    position: absolute;
    top: 1.8rem;
    left: 2.4rem;
    font-size: 3rem;
    color: white;
    cursor: pointer;   
}

.nav-list{
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100vh;
    background: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5rem;
    transform: translateX(100%);
    transition: .8s ease-in-out;
    z-index: 200;
}

.nav-link{
    color: white;
    font-family: var(--main-font);
    font-size: 1.7rem;
    text-transform: uppercase;
}

.open-nav .nav-list{
    transform: translateX(0%);
}

.open-nav .menu-toggle{
    opacity: 0;
}



.logo{
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    transform: translateY(-50%);
    margin-left: 4.5em;
    width: 9rem;
    color: #ffffff;
}

.first-word,
.second-word{
    font-size: 2.5rem;
    font-family: var(--main-font);
    letter-spacing: 0;
    text-transform: uppercase;
    color: rgb(245, 155, 10);
}

.second-word{
    font-size: 2rem;
}

.second-word-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.line{
    position: relative;
    width: 100%;
    height: 2px;
    background: rgb(245, 155, 10);
}

.main-section{
    background: url(./assets/bg-main-section.jpg) center/cover no-repeat fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section-logo{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
}

.main-second-word{
    font-size: 3rem;
    font-family: var(--main-font);
    /* color: rgb(245, 155, 10); */
    text-transform: uppercase;
}

.main-first-word{
    font-size: 6rem;
    font-family: var(--secondary-font);
    text-transform: uppercase;
    color: rgb(245, 155, 10);
}

.call-action-box{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
}

.call-action-1,
.call-action-2{
    margin: 1.5rem;
    font-family: var(--extra-font);
    font-size: 1.5rem;
    background: rgb(216, 216, 216, .8);
    padding: 1rem;
    transition: .5s ease-in-out;
    border-radius: .5rem;
}

.call-action-1:hover,
.call-action-2:hover{
    background: #ffffff;
    cursor: pointer;
}

/* servings */ /* servings */ /* servings */ /* servings */ /* servings */ /* servings */ /* servings */ /* servings */ /* servings */ 

.servings{
    width: 100%;    
    background: url(./assets/bg-main-section4.jpg) center/cover no-repeat fixed;
    text-align: center;
    padding: 5rem 0 10rem 0;
}

.servings-title-box{
    width: 100%;
    height: auto;
    font-family: var(--main-font);
    font-size: 3rem;
    text-align: center;
    padding: 2rem 0;
    color: rgb(206, 132, 15);
    line-height: 150%;
    text-transform: uppercase;
}

.servings-menu{
    width: 100%;
    /* padding: 3rem 0 0rem 0; */
}


.serving{
    height: 200px;
    width: 200px;
    display: inline-block;
    margin: 8rem 5rem;
    text-transform: uppercase;
    text-align: center;
    font-family: var(--extra-font);
    font-size: 1.5rem;
    color: #ffffff;
}

.serving h1{
    margin: 1rem 0;
    text-shadow: 0 0 10px #fff, 0 0 20px #ffd311;
}

.serving-1,
.serving-2,
.serving-3,
.serving-4{
    display: inline-block;
}


.serving-item-1{
    height: 100%;
    width: auto;
    background: url(./assets/products/weServe/serve-1.png);
    background-position: center;
    background-size: cover;
}

.serving-item-2{
    height: 100%;
    width: auto;
    background: url(./assets/products/weServe/serve-2.png);
    background-position: center;
    background-size: cover;
}

.serving-item-3{
    height: 100%;
    width: auto;
    background: url(./assets/products/weServe/serve-3.png);
    background-position: center;
    background-size: cover;
}

.serving-item-4{
    height: 100%;
    width: auto;
    background: url(./assets/products/weServe/serve-4.png);
    background-position: center;
    background-size: cover;
}



/* top-menu */ /* top-menu */ /* top-menu */ /* top-menu */ /* top-menu */ /* top-menu */ /* top-menu */ /* top-menu */ /* top-menu */ 

.top-menu{
    width: 100%;
    background: url(./assets/bg-main-section5.jpg) center/cover no-repeat fixed;
}

.top-menu-box{
    height: 100%;
    text-align: center;
}

.menu-list{
    width: 300px;
    padding: 0;
    text-align: center;
    color: #ffff;
}

.menu-list-1{
    display: inline-block;
    height: auto;
}

.menu-list-2{
    display: inline-block;
    height: auto;
}

.menu-list-3{
    display: inline-block;
    height: auto;
}

.menu-list-box{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}



.menu-list h1{
    width: 100%;
    text-align: left;
    font-size: 4rem;
    font-family: var(--secondary-font);
    padding: 2rem 0;
    color: rgb(224, 33, 33);
    text-shadow: 0 0 20px #ff1111;
    grid-column: span 2;
}


.best-seller-items,
.selling-price{
    padding: 3rem 0;
    font-size: 1.5rem;
    font-family: var(--main-font);
}

.best-seller-items li,
.selling-price li{
    padding: 0 0 3rem 0;
}

.selling-price li{
    text-align: right;
    padding-right: 2rem;
}






/* About us */ /* About us */ /* About us */ /* About us */ /* About us */ /* About us */ /* About us */ /* About us */ /* About us */ 


.about-us{
    width: 100%;
}

/* .about-header{
    width: 100%;
    height: 40vh;
    background: url(./assets/bg-main-section1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    display: flex;
    align-items: center;
} */

/* .about-header h1{
    display: inline-block;
    margin: 0 auto;
    font-family: var(--main-font);
    font-size: 5rem;
    text-transform: uppercase;
    color: rgb(245, 155, 10);
} */

.about-us-story{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
}

.about-us-story p{
    margin: 3rem auto;
    font-size: 2rem;
    text-align: justify;
    text-indent: 2rem;
    font-family: var(--secondary-font);
}

.about-us-owner{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-owner img{
    margin: 1rem 0;
    height: 80%;
    font-size: 0;
}

#owner{
    display: block;
    text-align: right;
}


/* contact-us */ /* contact-us */ /* contact-us */ /* contact-us */ /* contact-us */ /* contact-us */ /* contact-us */ /* contact-us */ 


.contact-us{
    width: 100%;
    background: rgb(19, 19, 19);
    padding: 3rem 0;
}

.contact-us .container{
    text-align: center;
    margin: 0;
    padding: 0;
}

.contact-us-logo{
    display: inline-block;
    height: 200px;
    width: 320px;
    padding: 0 10em;
}

.contact-details{
    display: inline-block;
    height: 320px;
    width: 320px;
    font-size: 1.5rem;
    word-spacing: .1rem;
    color: #ffffff;
    font-family: var(--extra-font);
    text-align: center;
    /* border-left: #ffff .5px solid; */
    /* border-right: #ffff .5px solid; */
}

.social-media{
    display: inline-block;
    height: 320px;
    width: 320px;
    font-size: 1.5rem;
    word-spacing: .2rem;
    color: #ffffff;
    font-family: var(--extra-font);
    text-align: center;
    
}

.contact{
    margin: 4rem auto;
}

.contact-us .container .contact-us-logo-inner{
    margin: 5rem auto;
    color: #ffffff;
    text-align: center;
}



/* footer */ /* footer */ /* footer */ /* footer */ /* footer */ /* footer */ /* footer */ /* footer */ /* footer */ /* footer */ 


#footer{
	font-size: 12px;
	padding: 0;
    text-align: center;
    font-family: var(--main-font);
    background: rgb(14, 14, 14);
    color: #ffffff;
    font-size: 1.5rem;
    padding: 2rem 0;
}




/* Meadia query */ /* Meadia query */ /* Meadia query */ /* Meadia query */ /* Meadia query */ /* Meadia query */ /* Meadia query */ 

@media (min-width: 769px){

    .about-us{
        height: 70vh;
    }
    
    .about-us .container{
        display: flex;
    }
    
    .about-us-owner{
        height: 100%;
    }

    .about-us-owner img{
        height: 60%;
    }

    .about-us-story{
        padding: 2rem 5rem;
    }

    .about-us-story p{
        font-size: 2.5rem;
        padding: 0 3rem;
    }

    .contact-us .container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}